name: CI

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: '0 0 * * *'

jobs:
  code-style:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout V
        uses: actions/checkout@v2
        with:
          repository: vlang/v
      - name: Build V
        run: make
      - name: Checkout termtable
        uses: actions/checkout@v2
        with:
            path: termtable
      - name: vet
        run: ./v vet -W termtable/
      - name: fmt
        run: |
          ./v fmt -diff termtable/
          ./v fmt -verify termtable/

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout V
        uses: actions/checkout@v2
        with:
          repository: vlang/v
      - name: Build V
        run: make
      - name: Checkout termtable
        uses: actions/checkout@v2
        with:
            path: termtable
      - name: Run tests
        run: ./v test termtable/
      - name: Run tests with warnings as errors
        run: ./v -W test termtable/

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout V
        uses: actions/checkout@v2
        with:
          repository: vlang/v
      - name: Build V
        run: make
      - name: Checkout termtable
        uses: actions/checkout@v2
        with:
            path: termtable
      - name: Development build
        run: ./v -shared termtable/
      - name: Production build
        run: ./v -prod -shared termtable/
