name: CI

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * *'

jobs:
  code-formatting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout V
        uses: actions/checkout@v2
        with:
          repository: vlang/v
      - name: Build V
        run: make
      - name: Checkout termtable
        uses: actions/checkout@v2
        with:
            path: termtable
      - name: v fmt -verify
        run: |
          cd termtable
          ../v fmt -verify .

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout V
        uses: actions/checkout@v2
        with:
          repository: vlang/v
      - name: Build V
        run: make
      - name: Checkout termtable
        uses: actions/checkout@v2
        with:
            path: termtable
      - name: Run tests
        run: |
          cd termtable
          ../v -W test .

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout V
        uses: actions/checkout@v2
        with:
          repository: vlang/v
      - name: Build V
        run: make
      - name: Checkout termtable
        uses: actions/checkout@v2
        with:
            path: termtable
      - name: Build termtable
        run: |
          cd termtable
          ../v -prod -shared .
